@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: calc(100vh - 4rem);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  background-color: #212121;
  overflow: hidden;
}
